/Modulo1/express/node_modules
/Modulo1/rotas/node_modules
/Modulo1/erros/node_modules
/Modulo1/middlewares/node_modules
/Modulo1/static-files/node_modules
/Modulo1/winston/node_modules
/Modulo1/my-bank-api/node_modules
/Modulo1/cors/node_modules